/* Global */
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* header */
.header img {
    width: 100px;
}
/* title */
.title h1{
    background-color: red;
    color: white;
}
/* navbar */
.navbar {
    margin-top: 15px
}
.navbar ul li {
    margin-top: 10px;
    list-style: none;
}
.navbar ul li a {
    font-size: 20px
}
/* intro */
.intro {
    width: 100%;
    height: auto;
    margin-top: 25px;
    background-color: brown
}
.intro h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 20px
}
.intro span{
    font-size: 30px;
    margin-top: 25px;
    text-align: justify
}
.intro__paragraphColorWhite{
    color: white
}
.intro__paragraphColorBlack{
    color:black
}
.intro img {
    width: 50%
}
.intro ul {
    font-size: 25px;
    list-style-type: disc;
    color: white
}
/* table */
.table h1{
    text-align: center
}